#title{
    background-color: #FD3A73;
    color:#fff;
    
}
h1{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
   
}
h3{
    font-family: 'Montserrat-black';
    font-weight: bold;
    margin-bottom: 4%;
}
.container-fluid{
    padding: 3% 15%;

}
.title-image{
    width:65%;
    transform: rotate(20deg);
}
.navbar{
    padding-bottom: 3rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;


}
.nav-link{
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
.btn{
    margin:5rem 1rem;
}

.col-lg-4{
    text-align: center;
}
.col-lg-4:hover{ 
    background-color:rgb(240, 229, 229);
}
#features{
    padding: 8% 7%;
    position: relative;
    z-index: 1;
    background-color: white;
}
.icon{
    color: #ec7399;
    margin: 8%;
}
.icon:hover{
    color:#FD3A73;
}
#testimonials{
    text-align: center;
    background-color: #FD3A73;
   
    color:#fff;
    font-family:'Montserrat-bold';
    
}
.testimonials-img{
    border-radius: 100%;
    width: 20%;
    margin: 10% 5%;
}
#press{
    background-color: #FD3A73;
}
.press-img{
    width: 15%;
    margin: 5% 4.5%;

}
.carousel-item{
    padding: 7% 15%;

}
#pricing{
    text-align: center;
    margin:5% 5%;
}
.card-pad{
    margin-top: 5%;
}


#cta{
    background-color: #FD3A73;
    color: #fff;
    font-family:'Montserrat-bold';
    text-align: center;
    padding: 5% 5%;
}

#footer{
    padding: 5%;
    text-align: center;
}
@media (max-width:1028px)
{
    .title-image
    {
        position: relative;
        transform: rotate(0);
    }
    #title{
        text-align: center;

    }

}